body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Arial", sans-serif;

}

 .container {
  width: 1170px;
  margin: 0 auto;
}

#headerSection {
    background: url(../img/first.jpg) no-repeat top center / cover;
    color: white;
    height: 100vh;
}

.mainInformation {
  padding-top: 51px;
}

.mail {
  float: left;
  background: url(../img/mail.png) no-repeat left center;
  padding-left: 25px;
  font-size: 14px;
}

.name {
  float:left;
  margin-left: 310px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.name span {
  color: #ffb400;
}

.phone {
  float: right;
  font-size: 16px;
  background: url(../img/phone.png) no-repeat left center;
  padding-left: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

#headerSection h1 {
  margin-top: 330px;
  text-align: center;
  font-size: 41px;
  font-weight: bold;
  text-transform: uppercase;
}

#headerSection h1 span {
  font-size: 31px;
  font-weight: normal;
  display: block;
  margin-bottom: 21px;
}

#aboutMe {
  background: #fff;
  padding: 76px 0 76px 0;
}

.blackHeader1 {
  font-size: 33px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}


#aboutMe .photo {
  display: block;
  margin: 63px auto 0 auto;
}

#aboutMe h2 {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 30px 0 34px 0;
  text-align: center;
}

#aboutMe p {
  font-size: 15px;
  width: 580px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.6;
  margin-bottom: 35px;
}

.social {
  box-sizing: border-box;
  width: 125px;
  margin: 0 auto;
}

.socialIcon {
  display: block;
  background-color: #000;
  width: 32px;
  height: 32px;
  float: left;
  line-height: 34px;
  border-radius: 50%;
  margin-right: 13px;
  text-align: center;
  text-decoration: none;
}

.socialIcon:hover {
  background-color: #ffb400;
  box-shadow: 0 0 0 6px #ffe4a3;
}

.socialIcon:nth-child(3) {
  margin-right: 0;
}

#feedback {
  background: #f2f2f2;
  padding: 76px 0 85px 0;
}

#feedback .form {
  display: block;
  width: 295px;
  margin: 45px auto 0 auto;
}

#feedback .cell {
  box-sizing: border-box;
  width: inherit;
  font-size: 15px;
  color: #a3a3a3;
  height: 56px;
  margin-bottom: 12px;
  padding-left: 26px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}


.button {
  display: block;
  margin: 0 auto;
  background: #ffb400;
  width: 250px;
  text-align: center;
  text-decoration: none;
  height: 65px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

.action {
  box-sizing: border-box;
  height: 60px;
  width:inherit;
  font-size: 17px;
  padding-bottom: 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

footer {
  padding: 45px 0;
  background: #000;
  color: #fff;
}

.allRightsReserved {
  font-size: 14px;
  float: left;
}

footer .name {
  margin-right: 340px;
  margin-left: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.button:hover {
  background: #cd9204;
}

.button:active {
  background: #aa7905;
}
